li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.btn {
  padding: 10px 26px;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
}
.btn.danger {
  color: crimson;
  background: #fff;
  border:1px solid crimson;
}
.btn.regular {
  background: var(--HEADER-BGCOLOR);
  color: #fff;
}
.btn:hover {
  opacity: 0.7;
}
.inp {
    width: 400px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 6px;
    margin: 8px 0;
}
.inp:focus{
    outline: 3px solid #404d586a;
}
@media screen and (max-width:600px) {
  .inp{
    width: 100%;
  }
}